<h1>inicio</h1>

<div class="cont_txt" style="overflow-y: auto;">
  <div>
    <div class="ctext" id="all_posters">
          <p>Este es el nodo de usuarios registrados. <br>
          aqui te encontraras con toda la informacion que han escrito otros uarios registrados! </p>


      <div class="nuevo_post">
        <%= render @posters %>
      </div>

    </div>
  </div>
  <div class="textin">
      <%= form_with(model: Poster.new) do |f| %>
      <%= f.text_field :content, size: 42 %>
      <%= f.submit :crear %>
      <% end %>
  </div>
</div>
<div class="ctools">
  <div class="innertool">

    <% if user_signed_in? %>

      <div class="tools">
        <%= render 'shared/navbar-tool' %>
      </div>

      <div class="content-tools">
        <%= render 'tools/tools' %>
      </div>

    <% else %>

      <div class="registrese">

        <div class="cr">

          <a href="<%= new_user_session_path %>" class="btn btn-primary ">Iniciar Sesion</a>
          <br><br>
          <a href="<%= new_user_registration_path %>" class="btn btn-warning ">Registrarse</a>

        </div>
      </div>

    <% end %>


  </div>
</div>

<script>
  var posters = $('.poster_detail');

    posters.on('click', function(){

      var poster = $(this);

      var content = poster.text();

      $('[name="poster[content]"]').val(content);

      poster.toggle(500);

    });

  posters.on('click', function(){

    var poster = $(this);

    $.ajax({
      url: '<%= posters_path %>',
      method: 'DELETE',
      data: {param1: 'posters.id'}
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });



  })


</script>
